<suite name="NopCommerce Suite" verbose="1">

<listeners>
    <listener class-name="utils.TestListener"/>
</listeners>

    <test name="AllTests">
        <classes>
            <class name="testcases.LoginTest"/>
            <class name="testcases.RegisterTest"/>
            <class name="testcases.ProductTest"/>
        </classes>
    </test>
</suite>
